a.active {
  color: #fff;
  background: #007bff;
  border-radius: 4px;
  padding: 0.2em 0.6em;
  text-decoration: none;
}

.main-toolbar {
  display: flex;
  align-items: center;
  height: auto; /*auto size*/
  min-height: 64px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  width: fit-content;
}

.logo img {
  width: 100px;
  height: auto; /*for ratio*/
  object-fit: contain; /*fit the whole image*/
  display: block;
}

.spacer {
  flex: 1 1 auto;
}

mat-toolbar button {
  margin-left: 1em;
}