a.active {
  color: #fff;
  background: #007bff;
  border-radius: 4px;
  padding: 0.2em 0.6em;
  text-decoration: none;
}

.main-toolbar {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px; /* Add padding around the logo */
  margin-top: 20px; /* Move it down from the top */
  width: fit-content;
}

.logo img {
  width: 100px; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
  object-fit: contain; /* Fit the entire image without cropping */
  display: block;
}

.spacer {
  flex: 1 1 auto;
}

mat-toolbar button {
  margin-left: 1em;
}